.maharashtra-info-container > div{
    width: 98% !important;
}

.maharashtra-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.maharashtra-info-container img{
    height: 240px !important;
    box-shadow: 3px 3px 10px 2px rgb(169, 169, 169) !important;
}

.card{
    height: auto;
}